#contact {
    min-height: 90vh;
    background-image: var(--gradient-hard);
    padding: 4rem 0;
}

.contact__h1 {
    font-family: var(--font-titles);
    font-size: var(--font-big);
    color: var(--bg);

}

.contact__h2 {
    font-family: var(--font-titles);
    font-size: var(--font-medium);
    color: var(--bg);
}

.contact__links,
.contact__form {
    width: 100%;
    font-size: var(--font-small);
    font-family: var(--font-body);
    padding-bottom: 1rem;
}

.contact__links > ul {
    width: fit-content;
}

.contact__form > form {
    width: min(100%, 40rem);
    margin: 0 auto;
}
.contact__form > form > * {
    display: block;
    margin-bottom: .5rem;
    width: 100%;
}

.contact__form > form > label {
    color: var(--bg);
    font-size: var(--font-small);
}

.contact__form > form > input,
.contact__form > form > textarea,
.contact__form > form > button {
    color: var(--primary);
    font-size: var(--font-small);
    border-radius: 10px;
    padding: .3rem 1rem;
    border: 0;
    transition: all .2s;
}

.contact__form > form > button:hover {
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0px 3px 10px 2px rgb(161, 96, 96);
}


@media (min-width: 699px) {
    .contact__flex {
        display: flex;
    }
}