#projects {
    min-height: 90vh;
    display: grid;
    place-items: center;
}

.projects__h1 {
    font-family: var(--font-titles);
    font-size: var(--font-big);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects__cards-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    
}

@media (min-width: 830px) {
    .projects__cards-section {
        flex-direction: row;
        justify-content: space-between

    }
}

.card__img--1 {
    background-image: url('../../assets/pick-me-web.png');
}

.card__img--2 {
    background-image: url('../../assets/portfolioGonWeb.png');
}

.card__img--3 {
    background-image: url('../../assets/portfolio-web.png');
}