#welcome-section {
    height: 100vh;
    background-image: var(--gradient), url('../../assets/cup-of-coffee-gc3fa0fe5c_1920.jpg');
    background-size: cover;
    padding-top: 8rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.welcome-section__h1 {
    font-size: var(--font-big);
    font-family: var(--font-titles);
    color: var(--bg)
}

.welcome-section__p {
    font-size: var(--font-medium);
    font-family: var(--font-body);
    color: var(--bg)
}

@media (min-width: 480px) {
    #welcome-section  {
        display: grid;
        place-content: center;
        text-align: center;
        padding: 0;
    }
    .welcome-section__h1 {
        font-size: var(--font-xl);
    }
}
