.card {
    border-radius: 10px;
    width: min(100%, 18rem);
    height: 18rem;
    position: relative;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.card__img {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}



.card__description {
    display: grid;
    border-radius: 10px;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: var(--gradient);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity .2s;
}

.card__description:hover {
    opacity: 1;
}


.card__description > ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* Chose this name only because the instructions of FCC indicated so */
.project-title {
    font-family: var(--font-body);
    font-size: var(--font-medium);
    color: var(--bg);
    text-align: center;
}