.container {
    width: min(90%, 60rem);
    margin: 0 auto;
    padding: 2rem 0;
}

.link--white, .link--red {
    font-family: var(--font-titles);
    font-size: var(--font-small);
    text-decoration: underline dashed;
    transition: background .2s;
    cursor: pointer;
}

.link--white {
    color: var(--bg);
   
}

.link--white:hover {
    color: var(--primary);
    background-color: var(--bg);
    text-decoration: none;
}

.link--red {
    color: var(--primary);
    
}

.opacity-0 {
    opacity: 0;
}

.d-inline-block {
    display: inline-block;
}